In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind

In [14]:
data = pd.read_csv('Downloads/dataset w7.csv')
data

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

# 1. Descriptive Analytics

In [15]:
srk = data['Gender'].value_counts()
srk

female    16
male      12
Name: Gender, dtype: int64

In [16]:
srk1 = data.groupby('Gender')['Test preparation'].value_counts()
srk1

Gender  Test preparation
female  none                12
        completed            4
male    none                 9
        completed            3
Name: Test preparation, dtype: int64

In [17]:
srk2 = data.groupby('Gender')['Total Marks'].mean().sort_values(ascending = True)
srk2

Gender
male      30.416667
female    33.750000
Name: Total Marks, dtype: float64

In [18]:
srk3 = data.groupby('Test preparation')['Total Marks'].mean()
srk3

Test preparation
completed    44.571429
none         28.238095
Name: Total Marks, dtype: float64

In [20]:
data.isnull().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

In [21]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

# 2.Female & Male students Marks

In [23]:
#H0 : Male & Female students scored same marks
#H1 : Male & Female students scored different marks

alpha = .05
DK = data[data["Gender"]== "male"][["Total Marks"]]
JD = data[data["Gender"]== "female"][["Total Marks"]]
t_score,p_value = ttest_ind(DK,JD)
print('The test result is:',t_score,p_value)

The test result is: [-0.69408853] [0.49378223]

In [27]:
if (p_value > alpha):
    print( "Fails to reject the null hypothesis")
else:
    print("Rejecting the null hypothesis ")

Fails to reject the null hypothesis

# 3.Test preparation helps students

In [28]:
# H0 = Test preparation helped the students
# H1 = Test preparation didn't help the students

alpha = .05
MS = data[data["Test preparation"]=="completed"][["Total Marks"]]
SK = data[data["Test preparation"]=="none"][["Total Marks"]]
t_score,p_value2 = ttest_ind(MS,SK)
print('The test result is:',t_score,p_value2)

The test result is: [3.61436375] [0.00126713]

In [29]:
if (p_value2 > alpha):
    print('Fails to reject the null hypothesis')
else:
    print("Rejecting the null hypothesis")

Rejecting the null hypothesis